/*------------ @font-face ------------------*/
@font-face {
	font-family:'TChevin';
	src: url('../fonts/Chevin-Medium.otf')   format('opentype');
}
@font-face {
	font-family:'TChevinLight';
	src: url('../fonts/Chevin-Light.otf')   format('opentype');
}
@font-face {
	font-family:'TChevinThin';
	src: url('../fonts/Chevin-Thin.otf')   format('opentype');
}
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
::selection { background:#7AC143; color:#fff; }/*cambiar el color de la selección de texto*/
a
{
	text-decoration: none;
	display: block;
}
body 
{
	background: #FFF;
	font-family: "TChevin";
	font-size: 16px;
	text-align: center;
}
footer
{
	background: #7AC143;
	color: #EEE;
	margin-top: 1em;
}
header
{
	display: inline-block;
	margin: 0 auto;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
header #home img 
{
	width: 100%;
}
nav 
{/*font-size: 0px;/*dar tamaño de 0 (cero) al font para evitar que el inline-block ponga espacios en blanco entre cada li*/
	color: #808284;
	font-size: .8em;
	height: 40px;
	letter-spacing: normal;
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
	width: 99%;
	z-index: 1;
}
nav a
{
	background: #71BF44;
	color: #464646;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
}
nav a:hover
{
	background: #71BF44;
	color: #EFE !important;
}
nav a.activo
{
	background: #71BF44;
	color: #EFE !important;
}
nav li
{
	list-style-type: none;
	display:inline-block;
}
nav table
{
	position: relative;
	top: -15px;
	width: 100%;
}
nav td 
{
	padding: 0;
	padding-bottom: 10px;
}
nav td.activo 
{		
	color: #60B033 !important;
	padding: 0;
	padding-bottom: 10px;
}
#buscar input
{
	color: #7C9172;
	width: 90%;
}
#circulo1 
{
	background: #B2E4EB;
}
#circulo2 
{
	background: #B4DFD6;
}
#circulo3
{
	background: #E5F3DA;
}
#contenido 
{
	color: #666;
	display: inline-block;
	vertical-align: top;
	width: 78%;
}
#cuenta {
	box-shadow: 1px 1px 2px 1px #CACBCD; /*rgba(0, 0, 0, .3);*/
	margin: 0 auto;
	width: 95%;
}
#internoHome
{
	display: inline-block;
	margin: 0 auto;
	max-width: 1000px;
	position: absolute;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
#internoHome #logo {
	margin: 0;
	text-align: right;
	width: 79%;
}
#internoHome #logo img 
{
	background: #71BF44;
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .8);
	display: inline-block;
	margin-right: 1em;
	padding: 30px 10px 0px;
	position: relative;
	right: 0%;
	width: 20%;
}
#internoHome #logo,
#internoHome #menu
{
	display: inline-block;
	vertical-align: top;
}
#internoHome #menu {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .5);
	color: #71BF44;
	font-size: .9em;
	line-height: 2.2em;
	margin-left: 1em;
	max-width: 20%;
	min-height: 165px;
	min-width: 160px;
	padding: 0em .5em;
	position: relative;
}
#internoHome #menu a
{
	color: #71BF44;
	font-family: "TChevinThin";
	font-weight: 600;
	text-decoration: none;
}
#internoHome #menu a:before
{
	color: #7E8083;
	content: "\f0da  ";	
	font-family: 'fontawesome';
}
#internoHome #menu a:hover:before
{
	color: #71BF44;
}
#internoHome #menu a:hover
{
	color: #7E8083;
}
#menuProductos 
{
	border-color: #71BF44;
	border-right-style: dotted;
	border-width: 1px;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.3em;
	width: 20%;
}
#tituloProductos
{	
	background: #71BF44;
	color: #464646;
	font-size: 1.4em;
	line-height: 40px;
	text-transform: uppercase;
}
.articuloSeccionT1 
{
	display: inline-block;
	font-size: 0.79em;
	vertical-align: top;
	width: 32%;
}
.articuloSeccionT1 img 
{
	width: 100%;
}
.articuloSeccionT2 
{
	display: inline-block;
	font-size: 0.79em;
	text-align: justify;
	vertical-align: top;
	width: 64%;
}
.articuloSeccionT3 
{
	display: inline-block;
	font-size: 0.79em;
	text-align: justify;
	vertical-align: top;
	width: 96%;
}
.circulo 
{
	border-radius: 70px;
	box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 1);
	display: inline-block;
	font-size: 1.4em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
.cuenta
{
	padding-right: 1px !important;
	padding-top: 15px !important;
}
.rectangulo 
{
	background: #F8F8F8;
	display: inline-block;
	height: 150px;
	padding: 65px 10px;
	position: relative;
	text-align: justify;
	top: -50px;
	width: 150px;
	z-index: -1;
}
.rectangulo p 
{
	margin: 0;
}
.rectangulo span 
{
	display: block;
	line-height: 2em;
	text-align: center;
}
.seccion 
{	
	border-color: #71BF44;
	border-top-style: dotted;	
	border-width: 1px;
	margin-bottom: 15px;
	margin-top: 20px;
	width: 99%;
}
.seccion figure 
{
	float: right;
	margin-before: 1em;
}
.tituloSeccion {
	color: #71BF44;
	display: block;
	font-size: 1.2em;
	height: 70px;
	line-height: 60px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	text-transform: capitalize;
	top: -15px;
	width: 93%;
	z-index: 10;
	}
.tituloSeccion span 
{
	background: #FFF;
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .5);
	font-style: italic;
	padding: .7em .5em;
	position: relative;
	z-index: 100;
}
.triangulo_top_right 
{
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));
	border-left: 20px solid transparent;
	border-top: 15px solid #71BF44;
	float: right;
	height: 0;
	margin-right: 10%;
	width: 0;
}