/*------------ @font-face ------------------*/
@font-face {
	font-family:'TChevin';
	src: url('../fonts/Chevin-Medium.otf')   format('opentype');
}
@font-face {
	font-family:'TChevinLight';
	src: url('../fonts/Chevin-Light.otf')   format('opentype');
}
@font-face {
	font-family:'TChevinThin';
	src: url('../fonts/Chevin-Thin.otf')   format('opentype');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?xwvjaq');
	src:url('../fonts/icomoon.eot?#iefixxwvjaq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xwvjaq') format('woff'),
		url('../fonts/icomoon.ttf?xwvjaq') format('truetype'),
		url('../fonts/icomoon.svg?xwvjaq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection { background:#7AC143; color:#fff; }/*cambiar el color de la selección de texto*/
a
{
	text-decoration: none;
	display: block;
}
body 
{
	background: #FFF;
	font-family: "TChevin";
	font-size: 16px;
	text-align: center;
}
fieldset {
	border:none;
	margin: 0;
	padding: 0;
	width: 100%;
}
footer
{
	background: #71BF44;
	color: #EEE;
	margin-top: 1em;
}
header
{
	display: inline-block;
	margin: 0 auto;
	padding-bottom: .3em;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 100%;
	z-index: 1;
}
header #home {
	background: #71bf44;
	height: 320px;
	text-align: right;
}
header #home #imgs {
	height: 63%;
	padding-right: 2em;
} 
header #home #imgs section{
	border-radius: 12px;
	box-shadow: 4px 2px 15px 1px rgba(0, 0, 0, .4);
	display: inline-block;
	height: 81.5%;
	margin-right: .5em;
	overflow: hidden;
	position: relative;
	top: 3em;
	width: 17%;
}
header #home #imgs section p {
	background: rgba(113, 191, 68, 0.50);
	bottom: 0px;
	color: #EEE;
	font-size: 1.4em;
	line-height: .7em;
	margin: 0;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
header #home #imgs section div img {
	width: 100%
}
header #home #logo 
{
	height: 37%;
	padding-right: 1.5em;
}
header #home #logo img{
	position: relative;
	top: 45%;
	width: 20%;
}
nav 
{/*font-size: 0px;/*dar tamaño de 0 (cero) al font para evitar que el inline-block ponga espacios en blanco entre cada li*/
	color: #808284;
	font-size: .8em;
	height: 40px;
	letter-spacing: normal;
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
	width: 99%;
	z-index: 1;
}
nav a
{
	background: #71BF44;
	color: #464646;
	line-height: 40px;
}
nav a:hover
{
	background: #71BF44;
	color: #EFE !important;
}
nav a.activo
{
	background: #71BF44;
	color: #EFE !important;
}
nav li
{
	list-style-type: none;
	display:inline-block;
}
nav table
{
	position: relative;
	top: -15px;
	width: 100%;
}
nav td 
{
	padding-bottom: 10px;
}
nav td.activo 
{		
	color: #60B033 !important;
	padding: 0;
	padding-bottom: 10px;
}
#buscar a input
{
	background-image: url(../imagenesSitio/search.png); 
	background-position: right center; 
	background-repeat: no-repeat; 
	border-color: whitesmoke;
	color: #7C9172;
	padding-right: 10px; 
	width: 80%;
}
#circulo1 
{
	background: #B2E4EB;
}
#circulo2 
{
	background: #B4DFD6;
}
#circulo3
{
	background: #E5F3DA;
}
#contenedor 
{
	color: #666;
	display: inline-block;
	vertical-align: top;
	width: 78%;
}
#contenido 
{
	position: relative;
	top: .5em;
	width: 99%;
	z-index: 2;
}
#contenido a:hover
{
	text-decoration: underline;
}
#contenido a,
#contenido a:visited
{
	color: #666;
}
#contenido section article figure {
	display: inline-block;
	vertical-align: top;
}
#contenido #contacto {
	text-align: left;
}
#contenido #enviado {
	text-align: center;
}
#contenido #contactoCajas {
	font-family: "TChevin";
	font-size: 14px;
	height: auto;
	width: 68%;
	border-color: #7A7A7A;
	border-style: dotted;
	border-width: 0px;
	display: inline-block;
	position: relative;
	vertical-align: text-top;
}
#contenido #contactoCajas input[type="text"],
#contenido #contactoCajas input[type="mail"]
{
	height: 25px;
	margin-bottom: 8px;
	width: 100%;
	color: #333;
}
#contenido #contactoCajas #telefono, 
#contenido #contactoCajas #telOf {
	color: #333;
	height: 25px;
	margin-bottom: 8px;
	position: relative;
	right: -1.6%;
	width: 69%;
}
#contenido #contactoCajas #ladaT, 
#contenido #contactoCajas #ladaTOf {
	height: 25px;
	margin-bottom: 8px;
	width: 27%;
	text-align: left;
	color: #333;
}
#contenido #contactoCajas #email, 
#contenido #contactoCajas #web {
	height: 25px;
	margin-bottom: 8px;
	width: 100%;
	color: #333;
}
#contenido #contactoEtiqueta {
	border-color: #7A7A7A;
	border-style: dotted;
	border-width: 0px;
	display: inline-block;
	font-family: "TChevin";
	font-size: 14px;
	position: relative;
	vertical-align: text-top;
	width: 31%;
}
#contenido #contactoEtiqueta label {
    display: block;
    height: 37px;
    color:#333;
    font-size: 14px;
}
#contenido #contactoEnvia {
	font-family: "TChevin";
	font-size: 14px;
	height: auto;
	width: 100%;
	border-color: #7A7A7A;
	border-style: dotted;
	border-width: 0px;
	display: inline-block;
	position: relative;
	vertical-align: text-top;
}
#contenido #contactoEnvia label {
    display: inline-block;
    color:#333;
    font-size: 14px;
}
#contenido #contactoEnvia span {
	color: #B1B1B1;
	font-size: .7em;
    display: inline-block;
    height: auto;
    margin-top: 1em;
    text-align: right;
    width: 100%;
}
#contenido #contactoEnvia .botonEnvia 
{
	background-repeat: no-repeat;
	background: #858582;
	border-width: 0;
	box-shadow: 1px 1px 10px 1px #717274;
	color: #FEFEFE;
	cursor: pointer;
	font-size: 1.5em;
	height: auto;
	margin-left: 1em;
	padding: .2em 2em;
	width: auto;
}
#contenido #contactoEnvia .botonEnvia:hover 
{
	background:#71BF44;
	background-repeat:no-repeat;
	border-width: 0;
	box-shadow: 1px 1px 10px 1px #717274;
	color: #FEFEFE;
	cursor:pointer;
	font-size: 1.5em;
	height: auto;
	margin-left: 1em;
	padding: .2em 2em;
	width: auto; 
}
#contenido #contactoEnvia #mensaje {
	color: #333;
	font-family: "TChevin";
	font-size: 14px;
	height: 100px;
	resize: none;
	width: 100%;
}
#contenido #equipo {
	margin: 0 auto;
	padding-top: 1em;
	text-align: left;
	width: 90%;
}
#contenido #equipo .botonEnvia 
{
	background-repeat: no-repeat;
	background: #858582;
	border-width: 0;
	box-shadow: 1px 1px 10px 1px #717274;
	color: #FEFEFE;
	cursor: pointer;
	font-size: 1em;
	height: auto;
	margin-left: 1em;
	padding: .2em 2em;
	width: auto;
}
#contenido #equipo .botonEnvia:hover 
{
	background:#71BF44;
	background-repeat:no-repeat;
	border-width: 0;
	box-shadow: 1px 1px 10px 1px #717274;
	color: #FEFEFE;
	cursor:pointer;
	font-size: 1em;
	height: auto;
	margin-left: 1em;
	padding: .2em 2em;
	width: auto; 
}
#contenido #equipoCajas {
	font-family: "TChevin";
	font-size: 14px;
	height: auto;
	width: 68%;
	border-color: #7A7A7A;
	border-style: dotted;
	border-width: 0px;
	display: inline-block;
	position: relative;
	vertical-align: text-top;
}
#contenido #equipoCajas input[type="text"],
#contenido #equipoCajas input[type="file"],
#contenido #equipoCajas select
{
	height: 25px;
	margin-bottom: 8px;
	width: 100%;
	color: #333;
}
#contenido #equipoEnvia {
	color: #B1B1B1;
    display: inline-block;
    height: auto;
    margin-top: 1em;
    text-align: right;
    width: 100%;
}
#contenido #equipoEtiqueta {
	border-color: #7A7A7A;
	border-style: dotted;
	border-width: 0px;
	display: inline-block;
	font-family: "TChevin";
	font-size: 14px;
	position: relative;
	vertical-align: text-top;
	width: 31%;
}
#contenido #equipoEtiqueta label {
    display: block;
    height: 37px;
    color:#333;
    font-size: 14px;
}
#contenido #equipoForm {
	margin-top: 1em;
}
#contenido #np_iconos {
	padding-top: 1em;
	text-align: left;
	width: 100%;
}
#contenido #np_iconos section {
	min-height: 70px; 
	padding-bottom: 1em;
	width: 6.5%;
}
#contenido #np_iconos section figure {
	background: rgb(186, 224, 224);
	border-radius: 50px;
	display: inline-block;
	height: 50px;
	margin-right: 2%;	
	vertical-align: top;
	width: 50px;
}
#contenido #np_iconos section figcaption {
	font-size: .7em;
}
#contenido #np_iconos section figure img {
	left: -5%;
	position: relative;
	top: -5%;
	width: 110%;
	transition: all linear .3s;
}
#contenido #np_iconos section figure img:hover {
	cursor: pointer;
/*	.left: 15%;
	.top: 15%; 
	.width: 130%;*/
	transform: scale(1.30); /*rotate(360deg)*/
}
#contenido #np_info {
	padding: 1em 0 1em 0;
	text-align: left;
	width: 100%;
}
#contenido #np_info figure img,
#contenido #productos #producto figure {
	width: 100%
}
#contenido #productos {
	text-align: left;
}
#contenido #productos #sublinea{
	padding: 0 0 0.7em 0.7em;
	display: block;
}
#contenido #productos #producto.sombra {
	padding-bottom: .2em;
	padding-top: .5em;
	z-index: 1;
}
#contenido #productos #producto:hover.sombra {
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .4);
	position: relative;
	transition: box-shadow linear .2s;
}
#contenido #productos #producto figure,
#contenido #productos #producto #codigo {
	display: inline-block;
	vertical-align: top;
}
#contenido #productos #producto #aplicado {
	width: 16%;
}
#contenido #productos #producto #codigo {
	height: auto;
	min-height: 130px;
	position: relative;
	width: 65%;
}
#contenido #productos #producto #codigo #codigoMultiple {
	display: inline-block;
	font-size: .7em;
	margin-top: .5em;
	text-align: center;
	vertical-align: top;
	width: 72%;
}
#contenido #productos #producto #codigo #codigoMultiple #recuadro {
	border-radius: 10px;
	border: solid 1px #BEBECF;
	display: inline-block;
	height: auto;
	min-width: 10%;
	padding: .5em .3em;
	vertical-align: top;
	width: auto;
}
#contenido #productos #producto #codigo #codigoMultiple #recuadro .lineaPunteadaCodigo {
	border-left: dotted 1px #BEBECF;
	padding-left: .4em;
}
#contenido #productos #producto #codigo #codigoMultiple #recuadro .titulo {
	color: #71BF44;
	text-transform: uppercase;
}
#contenido #productos #producto #codigo #codigoMultiple #recuadro span {
	display: inline-block;
	vertical-align: top;
	padding: 0 .2em;
}
#contenido #productos #producto #codigo #codigoMultiple .verde {
	color: #71BF44;
}
#contenido #productos #producto #codigo #codigoUM {
	display: inline-block;
	vertical-align: top;
	width: 27%;
}
#contenido #productos #producto #codigo #codigoUM #logo {
	left: -131px;
	position: absolute;
	top: 0;
	width: 5%;
}
#contenido #productos #producto #codigo #codigoUM #logo img {
	width: 100%;
}
#contenido #productos #producto #codigo #descripcion {
	display: inline-block;
	width: 100%;
}
#contenido #productos #producto #codigo #iconos {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
#contenido #productos #producto #codigo #iconos figure{
	height: auto;
	max-width: 9%;
	min-height: 45px;
	min-width: 8%;
	overflow: hidden;
	text-align: center;
	width: auto;
}
#contenido #productos #producto #codigo #iconosM figure{
	height: auto;
	max-width: 30%;
	min-height: 45px;
	min-width: 25%;
	overflow: hidden;
	text-align: center;
	width: auto;
}
#contenido #productos #producto #codigo figure div {
	color: #ADABAB;
	display: block;
	font-size: 55%;
	left: -5%;
	position: relative;
	text-align: center;
	top: -5px;
	width: 110%;
}
#contenido #productos #producto #codigo #ficha,
#contenido #productos #producto #codigo #instructivo {
	bottom: 0;
	font-size: .7em;
	font-style: italic;
	left: -25%;
	position: relative;
}
#contenido #productos #producto #codigo #instructivo {
	margin-top: .5em;
}
#contenido #productos #producto #codigo #ficha div,
#contenido #productos #producto #codigo #instructivo div {
	display: inline-block;
	vertical-align: top;
}
#contenido #productos #producto #codigo #ficha #fichaDescarga,
#contenido #productos #producto #codigo #instructivo #instructDescarga{
	width: 20%;
}
#contenido #productos #producto #codigo #ficha #fichaMostrar,
#contenido #productos #producto #codigo #instructivo #instructMostrar{
	width: 10%;
}
#contenido #productos #producto #codigo #ficha #fichaOrden,
#contenido #productos #producto #codigo #instructivo #instructOrden{
	width: 28%;
}
#contenido #productos #producto #codigo #ficha span,
#contenido #productos #producto #codigo #instructivo span {
	font-size: .9em;
}
#contenido #productos #producto #codigo #ficha .mostrar,
#contenido #productos #producto #codigo #instructivo .mostrar{
	cursor: pointer;
}
#contenido #productos #producto #codigo #ficha .mostrar:hover:after,
#contenido #productos #producto #codigo #instructivo .mostrar:hover:after{
	color: lightgray;
}
#contenido #productos #producto #codigo #ficha .ft,
#contenido #productos #producto #codigo #instructivo .ii{
	background-color: #61BF44;
	border-radius: 2em;
	color: #FEFEFE;
	font-size: .9em;
	text-align: center;
	font-weight: 700;
	font-style: normal;
}
#contenido #productos #producto #codigo #ficha #down,
#contenido #productos #producto #codigo #instructivo #down {
	display: inline-block;
	font-size: .8em;
	position: relative;
	text-decoration: none;
	transition: all linear .3s;
	vertical-align: top;
}
#contenido #productos #producto #codigo #ficha #down:hover,
#contenido #productos #producto #codigo #instructivo #down:hover {
	color: lightgray;
	/*transform: scale(1.20);*/
}
#contenido #productos #producto #codigo small
{
	color: #71BF44;
	font-size: 60%;
	vertical-align: super;
}
#contenido #productos #producto #suelto {
	width: 17%;
}
#contenido #productos article {
	display: none;
	margin-bottom: 1em;
}
#contenido #productos article figure img {
	width: 100%;
}
#contenido #sucursales {
	position: relative;
	padding-top: 1em;
}
#contenido #sucursales figure {
	/*background: url(../imagenesSitio/sucursales/mapa.png) no-repeat;
	background-size: 100%;
	height: 550px;*/
}
#contenido #sucursales figure img {
	display: none;
	opacity: .75;
	position: absolute;
	width: 30%;
}
#contenido #sucursales figure .sucQro,
#contenido #sucursales #sucDir .sucQro {
	left: 42.5%;
	top: 2%;
} 
#contenido #sucursales figure .sucMex,
#contenido #sucursales #sucDir .sucMex {
	left: 46.5%;
	top: 7.5%;
} 
#contenido #sucursales figure .sucGdl,
#contenido #sucursales #sucDir .sucGdl {
	left: 32%;
	top: 2%;
} 
#contenido #sucursales figure .sucMty,
#contenido #sucursales #sucDir .sucMty {
	left: 42%;
	top: -15%;
} 
#contenido #sucursales figure .sucMor,
#contenido #sucursales #sucDir .sucMor {
	left: 39%;
	top: 6%;
} 
#contenido #sucursales figure .sucLeo,
#contenido #sucursales #sucDir .sucLeo {
	left: 39%;
	top: 0%;
}
#contenido #sucursales figure .sucGtm,
#contenido #sucursales #sucDir .sucGtm {
	left: 77%;
	top: 25%;
}
#contenido #sucursales #sucDir span{
	height: auto;
	line-height: 1.5em;
	margin-top: 1em;
	padding: 0em 1.5em;
	text-align: center;
	width: 25%;
}
#contenido #sucursales #sucDir p {
	font-size: 1.8em;
	text-transform: uppercase;
}
#contenido #sucursales #sucMenu {
	font-size: .8em;
	left: 10%;
	line-height: 1.5em;
	position: absolute;
	text-align: left;
	top: 53%;
}
#contenido #sucursales #sucMenu ul li {
	cursor: pointer;
	text-transform: uppercase;
}
#contenido #sucursales #sucMenu ul li:before {
	color: #71BF44;
	content: "\e605";
	font-family: icomoon;
	letter-spacing: .2em;
}
#contenido #sucursales #sucMenu ul li:hover:before {
	color: #7E8083;
}
#contenido #sucursales #sucMenu ul .activoSuc:before {
	color: #7E8083;
}
#contenido #sucursales .mapa {
	width: 100%
}
#contenido #sucursales span {
	display: none;
	font-size: .8em;
	left: 30%;
	position: absolute;
	text-align: center;
	top: 76%;
	width: 60%;
}
#contenido .articuloHome 
{
	display: inline-block;
	font-size: 0.79em;
	padding-top: 1em;
	text-align: justify;
	vertical-align: top;
	width:100%;
}
#contenido .articuloHome .homeArticulo {
	height: 200px;
	overflow: hidden;
	padding: 2em 0;
}
#contenido .articuloHome .homeArticulo .homeTxt {
	background: #EEE;
	display: inline-block;
	height: 100%;
	padding: 0 .5em;
	position: relative;
	top: 0;
	vertical-align: middle;
	width: 57%;
}
#contenido .articuloHome .homeArticulo .homeTxt:after {
	border-left: 35px solid transparent;
	border-top: 200px solid rgba(241, 237, 237, 1);
	bottom: 0;
	content: "";
	position: absolute;
	right: 100%;
}
#contenido .articuloHome .homeArticulo .homeTxt:before {
	background: rgba(241, 237, 237, 1);
	content: "";
	height: 100%;
	left: 100%;
	position: absolute;
	width: 100px;
}
#contenido .articuloHome .homeArticulo .homeTxt div {
	display: table-cell;
	height: 200px;
	margin: 0 2em;
	vertical-align: middle;
}
#contenido .articuloHome .img01 {
	display: inline-block;
	height: 90%;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
	width: 40%;
}
#contenido .articuloHome .img01 figcaption {
	color: #666;
	font-size: 90%;
	position: relative;
	top: -0.5em;
	width: 120%;
	z-index: 100;
}
#contenido .articuloHome .img01 .imgW1{
	height: 100%;
	position: relative;
	width: 101%;
}
#contenido .articuloHome .img01 .imgW2{
	height: 100%;
	position: relative;
}
#contenido .articuloHome .img01 .img1 {
	left: -250px;
}
#contenido .catalogos article figure {
	display: inline-block;
	font-size: .8em;
	padding: 0 1em 2em 0;
	vertical-align: top;
	width: 30%;
}
#contenido .catalogos article figure img {
	width: 100%;
	transition: all linear .3s;
}
#contenido .catalogos article figure img:hover {
	transform: rotate(3.5deg); /*scale(1.05);*/
}
#contenido .catalogos .catalogosImg a{
	display: inline-block;
	text-decoration: none;
	width: 80%;
}
#contenido .catalogos .catalogosImg figure #down {
	display: inline-block;
	left: -30px;
	position: relative;
	text-decoration: none;
	transition: all linear .3s;
	vertical-align: top;
	width: 15%;
}
#contenido .catalogos .catalogosImg figure #down:hover {
	transform: scale(1.30);
}
#contenido .noticias {
	padding-top: 1em;
}
#contenido .noticias figure img{
	width: 100%;
}
#contenido .promo {
	padding-top: 1em;
}
#contenido .promo figure img{
	margin: 0 1em;
	width: 26.5%;
}
#contenido .videos article figure {
	display: inline-block;
	font-size: .8em;
	padding: 0 1em 2em 0;
	vertical-align: top;
	width: 25%;
}
#cuenta {
	box-shadow: 1px 1px 2px 1px #CACBCD; /*rgba(0, 0, 0, .3);*/
	margin: 0 auto;
	width: 95%;
}
#internoHome
{
	display: inline-block;
	margin: 0 auto;
	max-width: 1000px;
	position: absolute;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
#internoHome #menu {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .5);
	color: #71BF44;
	display: inline-block;
	font-size: 1em;
	line-height: 2.2em;
	margin-left: 1em;
	max-width: 20%;
	min-height: 165px;
	min-width: 160px;
	padding: 1em .5em;
	position: relative;
	vertical-align: top;
}
#internoHome #menu a
{
	color: #71BF44;
	font-family: "TChevinThin";
	font-weight: 600;
	text-decoration: none;
}
#internoHome #menu a:before
{
	color: #7E8083;
	content: "\e603      ";	
	font-family: 'icomoon';
}
#internoHome #menu a:hover:before
{
	color: #71BF44;
}
#internoHome #menu .activo1:before{
	color: #71BF44;
}
#internoHome #menu a:hover
{
	color: #7E8083;
}
#menuProductos 
{
	border-color: #71BF44;
	border-right-style: dotted;
	border-width: 1px;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.3em;
	width: 20%;
}
#simbologia img,
#simbologia .lineaPunteada {
	width: 100%;
}
#simbologia .lineaPunteada {
	padding: .2em 0;
}
#simbologia .simb00 {
	margin-top: 1em;
}
#tituloProductos
{	
	background: #71BF44;
	color: #464646;
	font-size: 1.4em;
	line-height: 40px;
	text-transform: uppercase;
}
.activo1 {
	color: #7E8083 !important;
}
.activo2 {
	color: #FEFEFE !important;
}
.articuloSeccionT1 
{
	display: inline-block;
	font-size: 0.79em;
	max-height: 340px;
	padding-top: 1em;
	vertical-align: top;
	width: 32%;
}
.articuloSeccionT1 img 
{
	width: 100%;
}
.articuloSeccionT2 
{
	display: inline-block;
	font-size: 0.79em;
	text-align: justify;
	vertical-align: top;
	width: 64%;
}
.articuloSeccionT3 
{
	display: inline-block;
	font-size: 0.79em;
	text-align: justify;
	vertical-align: top;
	width: 96%;
}
.catalogos 
{
	display: inline-block;
	padding-top: 1em;
	position: relative;
	text-align: left;
	width: 100%;
}
.catalogosSubTitulo {
	padding-bottom: 1em;
}
.circulo 
{
	border-radius: 70px;
	box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 1);
	display: inline-block;
	font-size: 1.4em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
.codigo {
	color: #61BF44;
}
.cuenta
{
	padding-right: 1px !important;
	padding-top: 15px !important;
}
.icon-box-add:before {
	content: "\e600";
}
.icon-file-pdf:before {
	content: "\e602";
}
.icon-download:before {
	content: "\e604";
}
.icon-box-add:before,
.icon-file-pdf:before,
.icon-download:before {
	color: #71bf44;
	font-size: 2em
}
.icon-download:hover:before {
	color: lightgray;
}
.icono {
	display: inline-block;
	padding-right: 4%;
	text-align: center;
	vertical-align: top;
}
.lineaPunteada {
	border-bottom: 1px dotted #71BF44;
}
.mostrar:after
{
	color: #71BF44;
	content: "\e600 ";
	font-family: 'icomoon';
	font-size: 2em;
	font-style: normal;
	vertical-align: middle;
}
.ocultar:after
{
	color: #71BF44;
	content: "\e601 ";
	font-family: 'icomoon';
	font-size: 2em;
	font-style: normal;
	vertical-align: middle;
}
.ProductosLineaPunteada {
	border-top: 2px dotted #71BF44;
	margin: .5em 0 .5em 0;
}
.rectangulo 
{
	background: #F8F8F8;
	display: inline-block;
	height: 150px;
	padding: 65px 10px;
	position: relative;
	text-align: justify;
	top: -50px;
	width: 150px;
	z-index: -1;
}
.rectangulo p 
{
	margin: 0;
}
.rectangulo span 
{
	display: block;
	line-height: 2em;
	text-align: center;
}
.seccion 
{	
	border-color: #71BF44;
	border-top-style: dotted;	
	border-width: 1px;
	margin-bottom: 15px;
	margin-top: 20px;
	width: 99%;
}
.seccion figure 
{
	float: right;
	margin-before: 1em;
}
.tituloSeccion {
	background: #ECF3EA;
	color: #71BF44;
	font-size: 1.2em;
	padding: .3em .7em;
	position: relative;
	text-align: left;
}
.tituloSeccion:first-letter {
	text-transform: uppercase;
}
.triangulo_top_right 
{
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));
	border-left: 20px solid transparent;
	border-top: 15px solid #71BF44;
	float: right;
	height: 0;
	margin-right: 10%;
	width: 0;
}
.verdeHome {
	color: #71BF44;
	font-size: 1.2em;
}
.videos 
{
	display: inline-block;
	padding-top: 1em;
	position: relative;
	text-align: left;
	width: 100%;
}
.videosImg 
{
}
.VideoLineaPunteada {
	border-top: 2px dotted #71BF44;
}
.videoSubTitulo {
	padding-bottom: 1em;
}
._on {
	display: block;
}
._off {
	display: none ;
}
