@media screen and (min-width: 965px)
{
	body
	{		
		margin: 0 auto;
		max-width: 1000px;
	}
	#contenido 
	{
		margin: 0 auto;
		max-width: 78%;
	}
	#logo 
	{
		margin-right: 1em;
		width: 26%;
	}
}
@media screen and (max-width: 965px)
{
	body
	{
		font-size: 13px;
		max-width: 965px;
		min-width: 795px;
	}
	#contenido 
	{
		margin: 0 auto;
		width: 75%;
	}
	#logo
	{
		margin-right: 1em;
		min-width: 26%;
	}
	#menuProductos {
		min-width: 138px;
	}
}